<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.racing.model.mapper.UserPointsAppRecordMapper" >
  <resultMap id="BaseResultMap" type="com.racing.model.po.UserPointsAppRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="app_points" property="appPoints" jdbcType="DECIMAL" />
    <result column="app_comment" property="appComment" jdbcType="VARCHAR" />
    <result column="app_time" property="appTime" jdbcType="TIMESTAMP" />
    <result column="operation_comment" property="operationComment" jdbcType="VARCHAR" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, app_points, app_comment, app_time, operation_comment, operation_time, 
    status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.racing.model.po.UserPointsAppRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_points_app_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_points_app_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_points_app_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.racing.model.po.UserPointsAppRecordExample" >
    delete from user_points_app_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.racing.model.po.UserPointsAppRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into user_points_app_record (id, user_id, app_points, 
      app_comment, app_time, operation_comment, 
      operation_time, status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{appPoints,jdbcType=DECIMAL}, 
      #{appComment,jdbcType=VARCHAR}, #{appTime,jdbcType=TIMESTAMP}, #{operationComment,jdbcType=VARCHAR}, 
      #{operationTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.racing.model.po.UserPointsAppRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into user_points_app_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="appPoints != null" >
        app_points,
      </if>
      <if test="appComment != null" >
        app_comment,
      </if>
      <if test="appTime != null" >
        app_time,
      </if>
      <if test="operationComment != null" >
        operation_comment,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="appPoints != null" >
        #{appPoints,jdbcType=DECIMAL},
      </if>
      <if test="appComment != null" >
        #{appComment,jdbcType=VARCHAR},
      </if>
      <if test="appTime != null" >
        #{appTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationComment != null" >
        #{operationComment,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.racing.model.po.UserPointsAppRecordExample" resultType="java.lang.Integer" >
    select count(*) from user_points_app_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_points_app_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.appPoints != null" >
        app_points = #{record.appPoints,jdbcType=DECIMAL},
      </if>
      <if test="record.appComment != null" >
        app_comment = #{record.appComment,jdbcType=VARCHAR},
      </if>
      <if test="record.appTime != null" >
        app_time = #{record.appTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operationComment != null" >
        operation_comment = #{record.operationComment,jdbcType=VARCHAR},
      </if>
      <if test="record.operationTime != null" >
        operation_time = #{record.operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_points_app_record
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      app_points = #{record.appPoints,jdbcType=DECIMAL},
      app_comment = #{record.appComment,jdbcType=VARCHAR},
      app_time = #{record.appTime,jdbcType=TIMESTAMP},
      operation_comment = #{record.operationComment,jdbcType=VARCHAR},
      operation_time = #{record.operationTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.racing.model.po.UserPointsAppRecord" >
    update user_points_app_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="appPoints != null" >
        app_points = #{appPoints,jdbcType=DECIMAL},
      </if>
      <if test="appComment != null" >
        app_comment = #{appComment,jdbcType=VARCHAR},
      </if>
      <if test="appTime != null" >
        app_time = #{appTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationComment != null" >
        operation_comment = #{operationComment,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.racing.model.po.UserPointsAppRecord" >
    update user_points_app_record
    set user_id = #{userId,jdbcType=INTEGER},
      app_points = #{appPoints,jdbcType=DECIMAL},
      app_comment = #{appComment,jdbcType=VARCHAR},
      app_time = #{appTime,jdbcType=TIMESTAMP},
      operation_comment = #{operationComment,jdbcType=VARCHAR},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>